<!doctype html>
<html>
<head>
  <title>Z System</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  {% include "_nav.html" %}
  <section class="hero">
    <h1>Z System <i style="font-weight: 300;">Spaces</i></h1>
    <h2>An easy deployment system for getting your next data science program up and running on Z System.</h2>
  </section>

  <section class="container">
    <h2>What are spaces</h2>
    <p>Spaces are isolated environments that run on nodes in the Z System cluster. Each space is a container that has a specific runner installed. You can start and stop spaces as needed.</p>
  </section>

  <section class="container">
    <h2>Z Architecture</h2>
    <p>Z System is designed to be efficient and powerful. Spaces has 4 runner classes</p>
    <div class="grid">
      <div class="card">
        <h3>OMEGA</h3>
        <p>Maximum power, maximum performance.</p>
      </div>
      <div class="card">
        <h3>APEX</h3>
        <p>High performance, lower footprint.</p>
      </div>
      <div class="card">
        <h3>MICRO <i style="font-weight: 300;">ARM</i></h3>
        <p>Low power, ARM CPUs.</p>
      </div>
      <div class="card">
        <h3>NANO</h3>
        <p>AMD GX-217GA SOC, Ultra low power, minimal footprint.</p>
      </div>
        
    </div>
  <footer class="site">4248 SYSTEMS</footer>
</body>
</html>
